html, body{
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#side-nav {
  background-color: #1E2124;
  padding-top: 18px;
  width:71px;
  position: absolute;
  top:0;
  bottom: 0;
  padding-left:0px;
  
}
#page-name {
  position: absolute; 
  font-size: 28px;
  font-weight: bold;
  padding-left:10px;
}
#top-bar {
  padding-left:0px;
  
  text-align: left;
  background-color: #2E3136;
  height:40px;
  position: absolute;
  left:71px;
  top:0;
  right:0;
  border-bottom: 1px solid #24272B;
  color:white;
}
#top-bar a {
  color: #de8d4b
}
#top-bar ul {
  list-style: none;
  padding-top: 12px;
  margin-right: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
#top-bar li {
  display: inline;
  padding-left: 6px;
}

#main {
  padding-left:36px;
  padding-top: 18px;
  min-width: 500px;
  position: absolute;
  left:71px;
  top: 40px;
  bottom: 0;
  right:0;
  background-color: #36393E ;
  overflow-y: auto;
  color:white;
}
#side-nav ul {
  list-style: none;
  padding: 19px;
  margin: 0
}
#side-nav li {
  padding-bottom: 8px;
}

#side-nav a {
  font-size: 2rem;
  color:#00BC8C;
}
#side-nav a:hover {
  color: #00DBA3
}

#wrapper {
  min-width: 800px;
  height: 100%;
  padding-left:0px;
}


.tooltip.right .tooltip-inner {
    background-color:#00BC8C;
  }
.tooltip.right .tooltip-arrow {
          border-right-color: #00BC8C;
       }