
<div class="col-md-8">
    <form class="form-horizontal" id="add-playbook-form" action="#">
        <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-6">
                <input class="form-control" id="playbookName" type="text" placeholder="Enter Playbook Name...">
            </div>
            <input class="btn btn-success col-md-2" type="submit" value="Submit">                
            
        </div>
        </fieldset>                        
    </form>
</div>

    

<script>
    var dataAccess = require("./lib/data-access");

    $("#add-playbook-form").submit(function(ev) {

        let playbookToAdd = {};
        let accountName = sessionStorage.getItem("accountName");

        playbookToAdd.playbookName = this.playbookName.value;
        playbookToAdd.accountName = accountName;
        playbookToAdd.plays = [];

        dataAccess.insertOnePlaybook(playbookToAdd, function (result) {
            dataAccess.findAllPlaybooksByAccount(function(playbooks) {
                playbookOverview.onLoad(result.insertedId);
                viewEventHandler.emit("view-selected", "side-nav", "side-nav", playbooks); 
                viewEventHandler.emit("view-selected", "top-bar", "top-bar", {pageName: playbookToAdd.playbookName});
            });
        });
        ev.preventDefault();
    });
</script>