
<div class="col-md-8">
    <form class="form-horizontal" id="add-play-form" action="#">
        <fieldset>
            <legend>Add Play</legend>
                <div class="form-group">
                    <label for="playNamelbl" class="col-md-2 control-label">Play Name</label>
                    <div class="col-md-10">
                         <input id="playName" class="form-control" type="text" placeholder="Enter a name for your play...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Role #1</label>
                    <div class="col-md-10">
                        <textarea id="role1" cols="30" rows="4" placeholder="Enter play steps..." style="resize: vertical" rows=8  class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Role #2</label>
                    <div class="col-md-10">
                        <textarea id="role2" cols="30" rows="4" placeholder="Enter play steps..." style="resize: vertical" rows=8  class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Role #3</label>
                    <div class="col-md-10">
                        <textarea id="role3" cols="30" rows="4" placeholder="Enter play steps..." style="resize: vertical" rows=8  class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Role #4</label>
                    <div class="col-md-10">
                        <textarea id="role4" cols="30" rows="4" placeholder="Enter play steps..." style="resize: vertical" rows=8  class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Role #5</label>
                    <div class="col-md-10">
                        <textarea id="role5" cols="30" rows="4" placeholder="Enter play steps..." style="resize: vertical" rows=8  class="form-control"></textarea>
                    </div>                    
                </div> 
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-10">
                        <input class="btn btn-success" type="submit" value="Submit">                                           
                    </div>
                </div>                                                                               
        </fieldset>
    </form>
</div>

<script>
    var dataAccess = require("./lib/data-access");

    
    $("#add-play-form").submit(function(ev) {
        let roles = [];
        let rolesIds = $("[id^=role]").each(function(element, index, array) {
            console.log(element);
            roles.push(element.value);
        });

        console.log(roles);
        let play = {
            playName: this.playName.value,
            roles: roles
        };

        ev.preventDefault();
    });
</script>