<style>
.maps {
   /* border: 1px solid blue;*/
    width: 30%;
    height: 100%;
    display: inline-block; /*Display inline and maintain block characteristics.*/
    vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
    
} 
.plays {
   /* border: 1px solid red;*/
    width: 60%;
    height: 100%;
    display: inline-block; /*Display inline and maintain block characteristics.*/
    vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
    
}
</style>
<div id="playbook-overview" class="col-md-8 playbook-overview">
    <div class="row">
        <div class="col-md-5">
            <h4>Maps</h4> 
        </div>
        <div id="playsHeader" class="col-md-7" style="visibility: hidden">
            <h4>Plays</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" id="maps" class="maps">
            <div class="list-group">            
                {{#each maps}}
                    <button type="button" style="margin-bottom:1px" id="{{mapName}}" class="map list-group-item">{{mapName}}<span class="badge">{{plays.length}}</span></button>
                {{/each}}
            </div>
        </div>
        <div class="col-md-7" id="plays" class="plays">

        </div>
    </div>
    <button class="btn btn-danger" id="deletePlaybook">Delete Playbook</button>    
</div>

<script>
    var controller = require("./lib/playbook-overview");
    
    $(".map").on("click", function() {
        $('#playsHeader').css("visibility", "visible");
        controller.selectMap(this.id);
    });

     $("#deletePlaybook").on("click", function() {
        let verifyDelete = confirm("Are you sure you want to delete this playbook?");
        if(verifyDelete)
        {
            controller.deletePlaybook(function(playbooks) {
                showContent("home", playbooks);
            });
        }

    });
</script>