<ul>
    <li><a href="#" id="home" class="nav"><i class="fa fa-home"></i></a></li>
    {{#each .}}
        <li><a href="#" id="{{playbookName}}" class="nav"><i class="fa fa-book"></i></a></li>
    {{/each}}
</ul>