<ul>
    <li><a href="#" id="home" class="nav-home"><i class="fa fa-home"></i></a></li>
    {{#each .}}
        <li><a href="#" id="{{_id}}" class="nav"><i class="fa fa-book"></i></a></li>
    {{/each}}
    <li><a href="#" id="add-playbook" class="nav-add"><i class="fa fa-plus"></i></a></li>
</ul>