<h3>Welcome! please login.</h3>
<form id="account" action="#">
  <input id="accountInput" type="text" value="Account Name">
  <input type="submit" value="Submit">
</form>

<script>
    var dataAccess = require("./lib/data-access");

    $("#account").submit(function( event ) {
        dataAccess.submitAccount(this.accountInput.value, function(playbooks) {
            showContent("home", playbooks);
        });
        event.preventDefault();
    });
</script>