<h3>Welcome! please login.</h3>
<form id="account" action="#">
    <div class="col-md-5">
         <input class="form-control" id="accountInput" type="text" value="Account Name"/>
    </div>
  <input class="btn btn-success"type="submit" value="Submit"/>
</form>

<script>
    var dataAccess = require("./lib/data-access");

    $("#account").submit(function( event ) {
        dataAccess.submitAccount(this.accountInput.value, function(playbooks) {
            showContent("home", playbooks);
        });
        event.preventDefault();
    });
</script>